link(rel="stylesheet", type="text/css", href="/stylesheets/index.css")

.container
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href="/") Vote
        ul.nav
          li
            a(href="/") Top
          li
            a(href="/") Link

  .hero-unit
    h1 Let's Vote!
    p.lead ここは皆さんの質問に対して他の皆さんで投票して解決していくサイトです。
    p
    
    form(method="post", action="/input")
      button.btn.btn-large.btn-success(type="submit") 質問を作成する

  .row-fluid
    .span6
      h2 会員登録不要
      p 会員登録不要なので、皆さんが行いたい質問を気軽に始めることができます。  
      p
    .span6
      h2 選択肢を用いたシンプルな回答方法
      p 質問作成に選択肢(最大5つ)を用いることで回答のハードルが下がり、また結果も得票数といった非常にシンプルな形で表示されます。
      p

  hr

  .footer
    p &copy; Gishhub 2013
