link(rel="stylesheet", type="text/css", href="/stylesheets/regist.css")

.container
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href="/") Vote
        ul.nav
          li
            a(href="/input") 質問を作成する

  br
  br

  .container
    .well
      h2 質問の投稿が完了しました。こちらから確認できます。
      br
      font(size=5)
        a(href="http://www.gish.tokyo.jp/display?qid=#{qid}") http://www.gish.tokyo.jp/display?qid=#{qid}

  hr

  .footer
    p &copy; gish 2013