link(rel="stylesheet", type="text/css", href="/stylesheets/regist.css")

.container
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href="/") Vote
        ul.nav
          li
            a(href="/input") 質問を作成する

  br
  br